<section class="relative pt-24 min-h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('assets/img/logo.jpg');">
  <div class="absolute inset-0 bg-[#FDF6F1]/80"></div>  
  <div class="container mx-auto px-4 flex flex-col-reverse lg:flex-row items-center justify-between z-10">
    
    <!-- Texto -->
    <div class="w-full lg:w-1/2 text-center lg:text-left space-y-6">
      <h1 class="text-4xl md:text-5xl font-extrabold text-[#4B2E1D]">
        O pacote perfeito para tornar <br class="hidden md:block"/> seu evento inesquecível
      </h1>
      <p class="text-lg text-[#4B2E1D]">
        Escolha entre nossas opções exclusivas ou monte seu pacote personalizado com a G'Delícias. A festa é sua, o sabor é por nossa conta!
      </p>
      <a routerLink="#ver-pacotes" class="inline-block bg-[#EAB308] text-white font-bold px-6 py-3 rounded-2xl shadow-lg hover:bg-yellow-500 transition">
        Ver pacotes
      </a>
    </div>

    <!-- Imagem -->
    <div class="w-full lg:w-1/2 mb-10 lg:mb-0 flex justify-center items-center">
  <img src="assets/img/happy-customer.webp" alt="Cliente feliz em pastelaria" 
       class="w-full max-h-[400px] object-cover rounded-3xl shadow-xl">
</div>


  </div>
</section>
